#robo-container {
  background-color: #FFF;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

nav {
  position: sticky;
  top: 0;
}

.app {
  background: #f1f1f1;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-areas: "cabecalho" "conteudo" "rodape";
  grid-template-columns: auto;
  grid-template-rows: 50px auto auto;
}

footer {
  background: #333333;
  color: #FFF;
  padding: 20px;
  margin-top: 0;
  text-align: center;
}

.cabecalho {
  grid-area: cabecalho;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: #fdfdfd;
  color: #333333;
}

.carteira {
margin-top: 10px;
}

.conteudo {
  grid-area: conteudo;
  padding: 0 2rem;
}

.rodape {
  background: #fdfdfd;
  color: #333333;
  font-size: .8rem;
  grid-area: rodape;
  padding: 1rem;
  text-align: center;
}