<!DOCTYPE html>
<html>
  <head>
    <title>Cripto Bot</title>
    <link rel="icon" href="../../public/favicon.ico" type="image/x-icon">
    <link href="../../public/stylesheets/normalize.css" rel="stylesheet">
    <link href="../../public/stylesheets/reset.css" rel="stylesheet">
    <link href="../../public/stylesheets/styles.css" rel="stylesheet">
    <link href="../../public/stylesheets/destaques.css" rel="stylesheet">
    <link href="../../public/stylesheets/populares.css" rel="stylesheet">
    <link href="../../public/stylesheets/menu.css" rel="stylesheet">
    <link href="../../public/stylesheets/responsivo.css" rel="stylesheet">
    <link href="../../public/stylesheets/google-fonts.css" rel="stylesheet">
</head>
  </head>
  <body class="app">
    <header class="cabecalho">
      <nav class="menu">
          <ul class="menu__lista">
              <li class="menu__item">
                  <a class="menu__link ativo" href="#">
                      <i class="fas fa-wallet"></i> Carteira
                  </a>
                  <a class="menu__link" href="#">
                      <i class="fas fa-coins"></i> Moedas
                  </a>
                  <a class="menu__link" href="#">
                      <i class="fas fa-robot"></i> Bot
                  </a>
              </li>
          </ul>
      </nav>
  </header>
    <main role="main">
      <section id="trade" class="container">
        <div id="robo-container">
          <img class="populares__card___imagem" src="../../public/images/carteira-e-desenho-animado-do-dinheiro_138676-2086.jpg">
          <br>
          <table class="carteira">
            <tr>
              <td class="populares__card___titulo">R$:</td>
              <td class="populares__card___titulo"><%= value %></td>
            </tr>
          </table>
          </div>
          </section>

          <section class="populares">
            <div class="populares__itens">
                <div class="populares__conteudo">
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/bitcoin.jpg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Bitcoin</h5>
                                <time class="populares__card___data" datetime="2017-07-25">25/07/2017</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/ethereum.jpg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Ethereum</h5>
                                <time class="populares__card___data" datetime="2017-03-23">23/03/2017</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/cardano.jpeg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Cardano</h5>
                                <time class="populares__card___data" datetime="2013-08-01">08/2013</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/litecoin.jpg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Litecoin</h5>
                                <time class="populares__card___data" datetime="20090-01-01">2009</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/bnb.jpeg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">BNB</h5>
                                <time class="populares__card___data" datetime="2012-08-21">21/08/2012</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="populares__itens">
                <div class="populares__conteudo">
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/alice.png">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">My Neighbor Alice</h5>
                                <time class="populares__card___data" datetime="2017-06-15">15/06/2017</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/badger.jpg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Badger DAO</h5>
                                <time class="populares__card___data" datetime="">Não definida</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/alpha.png">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Alpha Finance Lab</h5>
                                <time class="populares__card___data" datetime="2008-01-01">2008</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/polkadot.jpg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Polkadot</h5>
                                <time class="populares__card___data" datetime="2017-11-01">01/11/2017</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                    <div class="populares__card">
                        <img class="populares__card___imagem" src="../../public/images/chz.jpg">
                        <div class="populares__card___corpo">
                            <div class="populares__card___cabecalho">
                                <h5 class="populares__card___titulo">Chiliz</h5>
                                <time class="populares__card___data" datetime="">Não definida</time>
                            </div>
                            <div class="populares__card___descricao">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          </main>
          <footer class="rodape">Copyright© 2021 - Jackson Felipe Magnabosco - Todos os direitos reservados.</footer>
          
          <script src="../public/javascripts/fontawesome.all.min.js"></script>
          <script src="../public/javascripts/api.js"></script>
          <script src="../public/javascripts/index.js"></script>
  </body>
</html>
